name: extract

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  merge_group:
  workflow_dispatch:

jobs:
  extract-dependencies:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17

      - uses: gradle/actions/setup-gradle@v4

      - name: Check Spotless
        run: |
          cd gradle && \
          ./gradlew spotlessCheck && cd ..

      - name: Update shell scripts
        run: |
          cd gradle && \
          ./gradlew updateAndroidAllJarsMetadata && cd ..

      - name: Print metadata for robolectric-bazel
        run: |
          cd gradle && \
          ./gradlew retrieveRobolectricVersionForBazel && cd ..
           

